
img.logo
  display: block
  margin: 2em 0

body
  padding-top: 2em !important

.brand-divider
  background-color: $color-primary
  height: 9px
  width: 20%
  margin: 3em 0 1em

.brand-hrule
  border-bottom: 1px solid $color-gray

.row-quote, .row-resource
  border-bottom: 1px solid $color-gray
  margin-bottom: 1.5em

.row-section-heading
  margin-top: 5rem
  margin-bottom: 3rem
  border-bottom: 1px solid $color-primary

  .column
    margin: 0
    padding: 0


footer
  color: $color-gray
  font-size: 1rem
  margin: 6rem 0 2rem
  text-align: center
