$color-initial: #fff !default;
$color-primary: #eb3b86 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e4e4e4 !default;
$color-text: #333 !default;
$color-gray: #a4a4a4 !default;
