body {
  padding-top: 2em !important;
  padding-right: 2em !important;
  padding-left: 2em !important;
}

.fas.fa-quote-left {
  color: $color-primary;
}

.brand-divider {
  background-color: $color-primary;
  height: 9px;
  width: 20%;
  margin: 3em 0 1em;
}

.mw-75 {
  max-width: 75%;
}

.row-quote {
  border-bottom: 1px solid $color-gray;
  margin-bottom: 1.5em;
}

hr.m-0 {
  border-top: 3px solid $color-quinary;
}

hr.pb-4.mt-0 {
  border-top: 3px solid $color-primary;
}

footer {
  color: $color-gray;
  font-size: 12px;
  margin: 6rem 0 2rem;
  text-align: center;
}

@media (max-width: 575.98px) {
  .mw-75 {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 27px;
  }

  .col-md-7.book-info.px-0 {
    h2 {
      font-size: 25.2px;
    }

    div {
      text-align: center;
    }
  }
}
